.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-position: center;
  /* background-image: url("black-free-background.png"); */
  background-image: url("a151e29409954830f542a9b8bb604582_w200.gif");
}


.App-main {
  background-color: #cac2f7;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

header:after {
  content: " ";
  display: table;
  clear: both;
}

header ul {
  list-style: none;
}

header ul li {
  float: left;
  margin-right: 20px;
  text-shadow: 2px 2px 2px black;
}

a {
  color: white
}

.container{
  min-height: 40vh;
  max-width: 406px;
}

.main-menu{
  background-color: gray;
  border-radius: 5px;
  box-shadow: 3px 3px 3px lightgray;
}

.link-button{
  color:black;
}

.date-picker{
  width: auto;
  display: inline-block;
}

.int-input{
  width: 15%;
  display: inline-block;
}

.int-input-large{
  width: 12vh;
  display: inline-block;
}

.table-text{
  text-align: left;
}